<h1><%= @sequel.name %> sequel</h1>

<p>Emotion: <%= @sequel.emotion %></p>
<p>Logic: <%= @sequel.logic %></p>
<p>Decision: <%= @sequel.decision %></p>
<p>Text: <%= @sequel.text %></p>

<p>
  <%= link_to "Back", novel_sequels_path %>