<%= form_for [@novel, @scene] do |f| %>
  <% if @scene.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@scene.errors.count, "error") %> prohibited this article from being saved:</h2>
    <ul>
    <% @scene.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <h3>Scene</h3>
  <p>
    <%= f.label :goal %><br>
    <%= f.text_field :goal %>
  </p>
  <p>
    <%= f.label :question %><br>
    <%= f.text_field :question %>
  </p>
  <p>
    <%= f.label :disaster %><br>
    <%= f.text_field :disaster %>
  </p>
  <p>
    <%= f.label :hanger %><br>
    <%= f.text_field :hanger %>
  </p>
  <h3>Sequel</h3>
  <p>
    <%= f.label :emotion %><br>
    <%= f.text_field :emotion %>
  </p>
  <p>
    <%= f.label :logic %><br>
    <%= f.text_field :logic %>
  </p>
  <p>
    <%= f.label :decision %><br>
    <%= f.text_field :decision %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>