<h1>Scenes</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>
  
  <% @scenes.each do |scene| %>
    <tr>
      <td><%= link_to scene.name, [scene.novel, scene] %></td>
      <td><%= link_to "Edit", edit_novel_scene_path(scene.novel, scene) %></td>
      <td><%= link_to "Destroy", [scene.novel, scene], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<p>
  <%= link_to "New Scene", new_novel_scene_path %>
  
<table class="table table-bordered table-striped" id="sortable">
  <thead>
    <tr>
      <th>
        Title
      </th>
      <th>
        Description
      </th>
    </tr>
  </thead>
  <tbody>
    <% @scenes.each do |scene| %>
      <tr data-item-id=<%= "#{scene.id}" %> class="item">
        <td>
          <%= scene.name %>
        </td>
        <td>
          <%= link_to 'show', scene_path(scene), :class => 'btn btn-default pull-right' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  
<p>
  <%= link_to "Back", novel_path(params[:novel_id]) %>