<h1><%= @scene.name %></h1>

<p>Goal: <%= @scene.goal %></p>
<p>Question: <%= @scene.question %></p>
<p>Disaster: <%= @scene.disaster %></p>
<p>Hanger: <%= @scene.hanger %></p>

<p>
  <%= link_to "Back", novel_scenes_path %>