<div class="container-fluid">
    
  <div class="col-md-3">
    
    <table class="table">
      <caption><h1><%= link_to @novel.title, edit_novel_path(@novel.id) %></h1></caption>
      <thead>
        <th>Premise</th>
        <th>Voice</th>
      </thead>
      <tbody>
        <td><%= @novel.premise %></td>
        <td><%= @novel.voice %></td>
      </tbody>
    </table>

    <table class="table">
      <caption><h1>Characters</h1></caption>
      <thead>
        <th>Name</th>
        <th>Trait</th>
        <th>Description</th>
      </thead>
      <tbody>
        <% @characters.each do |character| %>
          <tr>
            <td>
              <table>
                <tr>
                  <th><%= link_to character.name, edit_novel_character_path(character.novel, character) %></th>
                </tr>
                <tr>
                  <td><%= link_to "Add Trait", new_character_trait_path(character.id) %></td>
                </tr>
              </table>
            </td>
            <td>
              <table>
                <% character.traits.each do |trait| %>
                  <tr>
                    <td><%= link_to trait.name, edit_character_trait_path(trait.character, trait) %></td>
                  </tr>
                <% end %>
              </table>
            </td>
            <td>
              <table>
                <% character.traits.each do |trait| %>
                  <tr>
                    <td><%= trait.description %></td>
                  </tr>
                <% end %>
              </table>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <p><%= link_to "Add Character", new_novel_character_path(params[:id]) %></p>
      
  </div>
  
  <div class="col-md-9">
    
    <table class="table" id="sortable">
      <caption><h1>Scenes</h1></caption>
      <thead>
        <tr>
          <th>Scene</th>
          <th colspan="4">Conflict</th>
          <th colspan="3">Sequel</th>
          <th colspan="3">Text</th>
        </tr>
        <tr>
          <th>Name</th>
          <th>Goal</th>
          <th>Question</th>
          <th>Disaster</th>
          <th>Hanger</th>
          <th>Emotion</th>
          <th>Logic</th>
          <th>Decision</th>
          <th>Conflict Text</th>
          <th>Sequel Text</th>
          <th>Save</th>
        </tr>
      </thead>
      <tbody>
        <% @scenes.each do |scene| %>
          <tr data-item-id=<%= "#{scene.id}" %> class="item">
            <th><%= link_to scene.name, edit_novel_scene_path(scene.novel, scene) %></th>
            <td><%= scene.goal %></td>
            <td><%= scene.question %></td>
            <td><%= scene.disaster %></td>
            <td><%= scene.hanger %></td>
            <td><%= scene.emotion %></td>
            <td><%= scene.logic %></td>
            <td><%= scene.decision %></td>
            <%= form_for [@novel, scene] do |f| %>
              <td><%= f.text_area :conflict_text %></td>
              <td><%= f.text_area :sequel_text %></td>
              <td><%= f.submit 'Save' %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <p><%= link_to "Add Scene", new_novel_scene_path(params[:id]) %></p>

    <p><%= link_to "Back", novels_path %></p>
      
  </div>
  
</div>