<div class="container-fluid">
    
  <div class="col-md-3">
    
    <table class="table">
      <caption><h1>Tags</h1></caption>
      <tbody>
        <% @tags.each do |tag| %>
          <tr>
            <th>
              <%= link_to tag.name, edit_novel_tag_path(tag.novel, tag) %>
              <%= link_to "(add trait)", new_tag_trait_path(tag.id) %>
            </th>
          </tr>
          <% tag.traits.each do |trait| %>
            <tr>
              <td><%= link_to trait.name, edit_tag_trait_path(trait.tag, trait) %></td>
            </tr>
            <tr>
              <td><%= trait.description %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <p><%= link_to "Add Tag", new_novel_tag_path(params[:id]) %></p>
      
  </div>
  
  <div class="col-md-9">
    
    <table class="table" id="sortable">
      <caption><h1><%= link_to @novel.title, edit_novel_path(@novel.id) %></h1></caption>
      <thead>
        <tr>
          <th>Text</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <%= form_for @novel do |f| %>
            <td>
              <%= f.text_area :text %>
              <%= f.submit 'Save' %>
            </td>
          <% end %>
        </tr>
        <tr>
          <td><%= @novel.text %></td>
        </tr>
      </tbody>
    </table>

    <p><%= link_to "Back", novels_path %></p>
      
  </div>
  
</div>
